.ft-1{
  text-align: center;
  border: 5 rem;
  background-color: rgb(245, 198, 25);


}
.btn{
  float: inline-end;
 border-radius: 5px;
 border: none;
 
}
 .footer_icon{
  display: flex;
  padding: 10px;

  background-color: #f5c619;
  justify-content: center;
 
}
.footer_icon i{
  
  margin-right: 10px;
  margin-left: 5px;
  color: #00b3aa;

}

.ft-4{
  background-color: #00b3aa;
  display: flex;
  justify-content: center;
  text-align: center;
  
}
.text{
  font-family:Poppins Italic ;
}
img{
height: 300px;
width: 80%;
}

.main{
 padding: 10px;
  display: flex;
}
.ft-5{
  display: block;
  
}
.card-item{
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10px;
}
p{
  margin-left: 10px;
}
.card-item img{
  height: 200px;
  width: 60%;
}







